@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: #000; 
}
section{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;   
}
.banner
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -3;
    opacity: 0.7; 
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

#menu-btn{
    position: fixed;
    top: 20px;
    right: 30px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    z-index: 1000;
}
#menu-btn.fa-times{
    color: #000;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc20a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    z-index: 100;
    clip-path: circle(0% at 95.3% 8.5%);
    transition: .5s ease-out;
}
.nav.active
{
    clip-path: circle(140% at 95.3% 8.5%);
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    display: inline-block;
    color: #000;
    font-size: 2em;
    text-decoration: none;
    font-weight: 300;
}
.nav ul li a::before{
    position: absolute;
    content: attr(data-text);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vw;
    color: rgba(0,0,0,0.1);
    pointer-events: none;
    font-weight: 700;
    opacity: 0;
    z-index: -1;
}
.nav ul li a:hover::before{
    opacity: 1;
    transition: .5s ease-out;
}

.sci
{
    position: absolute;
    bottom: 40px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    text-decoration: none;
    transform: scale(0.6);
    transition: 0.5s;
}
.sci li a:hover{
    transform: scale(0.8);
}
.sci li a img{
    filter: invert(1);
}
.content
{
    padding: 50px;
}
.content h2{
    font-size: 9em;
    line-height: 1em;
    color: #fff;
    text-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.content h2 span{
    color: #ffc20a;
}
.service{
    position: fixed;
	left: 17%;
	bottom: 60px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;  
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s; 
}
.close-btn {
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 7px;
}
.service .container{
    position: relative;
    background: rgba(73, 64, 64, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .container .info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.service .container .info .box{
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    transition: 0.6s;
}
.service .container .info .box:hover{
    background: #ffc20a;
}
.service .container .info .box .icon{
    height: 70px;
    width: 70px;
    background-position: center;
    background-size: cover;
}

.service .container .info .box:nth-child(1) .icon{
    background: url(dumbbell-y.png);
    background-position: center;
    background-size: cover;
}
.service .container .info .box:nth-child(2) .icon{
    background: url(lifting-y.png);
    background-position: center;
    background-size: cover;
}
.service .container .info .box:nth-child(3) .icon{
    background: url(strength-y.png);
    background-position: center;
    background-size: cover;
}
.service .container .info .box:hover:nth-child(1) .icon{
    background: url(dumbbell.png);
    background-position: center;
    background-size: cover;
}
.service .container .info .box:hover:nth-child(2) .icon{
    background: url(lifting.png);
    background-position: center;
    background-size: cover;
}
.service .container .info .box:hover:nth-child(3) .icon{
    background: url(strength.png);
    background-position: center;
    background-size: cover;
}
.service .container .info .box h4{
    color: #fff;
    font-size: 1.5em;
}
.service .container .info .box:hover h4{
    color: #000;
}
.service .container .info .box h4 span{
    color: #ffc20a;
}
.service .container .info .box:hover h4 span{
    color: #fff;
}
.service .container .info .box:hover p{
    color: #000;
}
.service .container .info .box p{
    color: #fff;
    font-size: 0.8em;
}

.floating_text {
    position: fixed;
	background-color: #333;
	border-radius: 10px 10px 0 0;
	color: #fff;
	padding: 12px 25px;
	position: fixed;
	bottom: 0;
	left: 45%;
    cursor: pointer;
	text-align: center;
    transition: 0.5s;
}
.floating_text:hover{
    background-color: #ffc20a;
    color: #000;
}
@media (max-width: 1300px)
{
    .service .container .info .box{
        width: 270px;
        height: 210px;
    }
    .service .container .info .box .icon
    {
        height: 40px;
        width: 40px;
        background-position: center;
        background-size: cover;
    }
    .service .container .info .box h4{
        font-size: 1.3em;
    }
    .service .container .info .box p{
        font-size: 0.6em;
    }
}
@media (max-width: 1200px){
    .sci{
        bottom: 335px;
    }
}
@media (max-width: 991px)
{
    .content h2{
        font-size: 10vw;
    }
    .service{
        left: 10%;
    }
    .service .container .info .box{
        width: 230px;
        height: 170px;
    }
    .service .container .info .box h4{
        font-size: 1em;
    }
    .service .container .info .box p{
        font-size: 0.5em;
    }
}
@media (max-width: 750px)
{
    .service{
        left: 3%;
    }
}